.main_sub {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,0,213,0.7616421568627451) 17%, rgba(0,212,255,1) 100%);
    width: 44%;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20rem;
    font-family: cursive;
    margin-top: 4rem;
    color: white;
    border-radius: 7rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
button{
    background: rgb(139,14,131);
    background: linear-gradient(90deg, rgba(139,14,131,0.9521183473389355) 0%, rgba(0,171,255,1) 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 24px 19px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }